body {
    overflow-y: scroll;
}
.foot {
    vertical-align: middle;
}

.print-only {
    display: none !important;
}

@media print {

    .no-print,
    #geist-ui-drawer,
    #geist-ui-tooltip,
    #geist-ui-toast {
        display: none !important;
    }

    .print-only {
        display: block !important;
    }

    body {
        background-color: white !important;
    }
}

.editable {
    width: 100%;
}

.editable>input {
    margin-left: -4px;
    margin-right: -4px;
    width: 100%;
}

.checkbox:focus-within {
    outline: -webkit-focus-ring-color auto 1px;
}

#geist-ui-drawer .content {
    overflow: scroll;
    max-height: 100vh;
}

.link.with-icon>svg:first-child {
    align-self: center;
    margin-right: .5em;
}

footer>.item {
    margin: 0 !important;
}

button.mantine-CloseButton-root.mantine-Drawer-close {
    margin-left: 0;
    margin-right: auto;
}